
body {
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}


.background-image {
  width: 100%;
  height: 100vh; 
  background-size: cover; 
  background-attachment: fixed; 
}

#mouse {
  position: absolute;
  transform: translate(-50%, -50%);
}

#apple {
position: absolute;
transform: translate(-50%, -50%);
}

#coffee {
position: absolute;
transform: translate(-50%, -50%);
}

#keys {
position: absolute;
transform: translate(-50%, -50%);
}

#wallet {
  position: absolute;
  transform: translate(-50%, -50%);
  }

#keyboard {
  position: absolute;
  transform: translate(-50%, -50%);
  }

  #mouseGood {
      position: absolute;
      transform: translate(-50%, -50%);
    }
  
  #appleGood {
  position: absolute;
  transform: translate(-50%, -50%);
  }
  
  #coffeeGood {
  position: absolute;
  transform: translate(-50%, -50%);
  }
  
  #keysGood {
  position: absolute;
  transform: translate(-50%, -50%);
  }
    
  #walletGood {
      position: absolute;
      transform: translate(-50%, -50%);
      }
  
  #keyboardGood {
      position: absolute;
      transform: translate(-50%, -50%);
      }

#points {
  position: absolute; /* Position absolue pour utiliser les propriétés de centrage */
  top: 50%; /* Déplace la div vers le bas de 50% de la hauteur de l'écran */
  left: 50%; /* Déplace la div vers la droite de 50% de la largeur de l'écran */
  transform: translate(-50%, -50%); /* Recentre la div en la déplaçant de -50% de sa propre largeur et hauteur */
  text-align: center; /* Centre le texte horizontalement */
  }

#timer {
  position: absolute;
  top: 50px; /* Ajustez la valeur du haut selon votre souhait */
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }