.xlsx-head{
    color: azure;
    border: 1px azure solid;
}
.xlsx-left-num{
    color: azure;
    border: 1px azure solid;
    border-top: none;
}
.xlsx-cell{
    color: azure;
    border-bottom: 1px azure solid;
    border-right: 1px azure solid;
}
.col-9.d-flex{
    height: 80vh;
}
#usersDiv{
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    background-color: rgb(5, 2, 17);
    overflow: hidden;
}
.container-fluid{
    overflow: hidden;
}
@keyframes zoomup {

    0%,
    100% {
        color: aqua;
        filter: blur(1px);
        text-shadow: 0 0 10px aqua, 0 0 20px aqua, 0 0 30px aqua,
            0 0 40px aqua, 0 0 60px aqua, 0 0 80px aqua, 0 0 100px aqua,
            0 0 120px aqua;
    }

    5%,
    95% {
        filter: blur(0);
        color: #fff;
        text-shadow: none;
    }
}

.glowy{
    animation: zoomup 2s linear infinite;
    animation-delay: calc(200ms * var(--i));
    color: white;
}
x-sign {
    color: azure;
    --color1: azure;
    --color2: aqua;
    --color3: dodgerblue;
    --color4: aqua;
    font-family: Sriracha;
    padding: 10px;
    --interval: 1s;
    display: inline-block;
    text-shadow:
        0 0 10px var(--color1),
        0 0 20px var(--color2),
        0 0 40px var(--color3),
        0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s infinite;
    font-size: 28px;
}
.btn-primary{
    box-shadow: 0 0 15px azure;
    text-shadow: 0 0 15px azure;
    background: transparent;
    border: none;
    font-size: 20px!important;
}
.btn-primary:active,.btn-primary:focus,.btn-primary:hover{
    box-shadow: none;
    text-shadow: none;
    background: azure;
    border: azure;
    color: rgb(5, 2, 17);
}
#nickname{
    background: none;
    border: 1px azure solid;
    color: azure;
}
.countdown_container{
    color: azure;
    font-size: 160%;
}
