<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Point and Shoot Game</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
    <style>
        body, html{
            overflow: hidden;
        }
    </style>
</head>

<body>
    <canvas id="coffee-canvas" width="400" height="600" ></canvas></canvas>

    <!-- Add the script tag to include your game.js file -->
    <script src="static/coffee.js"></script>
</body>

</html>
